@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Ubuntu Mono", monospace;
    margin: 0px;
}


:root {
    --primary-color: #033452;
    --secondary-color: #F6F7F8;
    --default-font: #000000;
    --light-font: #FFFFFF;

    --background-color: var(--secondary-color);
    --secondary-background-color: var(--primary-color);

    --nav-height: 3em;
    --large-fontsize: 36px;
    --medium-fontsize: 20px;
}

body[data-theme="dark"] { 
    --background-color: var(--secondary-background-color);
    transition: background 0.5s ease-in-out;
    --default-font: #FFFFFF;
}

body {
    background-color: var(--background-color);
    color: var(--default-font);
    transition: background 0.5s ease-in-out;
}


nav {
    background-color: var(--secondary-background-color);
    color: var(--light-font);
    padding: var(--nav-height);
    display: flex;
    width: 100vw;
    column-gap: 2em;
    position: fixed;
}

footer {
    background-color: var(--secondary-background-color);
    color: var(--light-font);
    padding: 24px;
}

footer a {
    color: var(--light-font);
}

button {
    background: none;
    border: none;
    box-shadow: none;

    outline: 2px solid;
    outline-color: var(--primary-color);
    background-color: var(--light-font);
    border-radius: 20px;
    padding: 6px;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--light-font);
    outline-color: var(--light-font);
    transition: 0.3s ease-in-out;
}

dialog {
    margin-left: auto;
    margin-right: auto;
    top: 20vw;
    position: fixed;
}

.hero {
    font-size: var(--large-fontsize);
    width: 100vw;
    text-align: center;
    padding-top: 44vh;
    padding-bottom: 44vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.full-box {
    width: min(100vw, max(12rem, 50vw));
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.content {
    width: min(100vw, max(12rem, 50vw));
    margin-left: auto;
    margin-right: auto;
    font-size: var(--medium-fontsize);
}

.content br {
    margin: 1em;
}

.icon img {
    width: var(--large-fontsize);

}

body[data-theme="dark"] .icon img {
    filter: invert();
}
