* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #033452;
    --secondary-color: #F6F7F8;

    --header-height: 3em;
}

body {
    background-color: var(--secondary-color);
}


header {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    padding: var(--header-height);
    display: flex;
    width: 100vw;
    column-gap: 2em;
    position: fixed;
}

main {
    padding-top: var(--header-height);
}

.dark {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.light {
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

.full-box {
    width: 100vw;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}